@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Josefin Sans', sans-serif;
    }
  }

body {
    font-size: 18px;
}

/* *{
    outline: solid red 1px;
} */
/* p{
    background-color: linear-gradient #57ddff to #c058f3;
} */
/* *{
    margin: 0;
    padding: 0;
} */